html {
  background: url(https://cdn.wallpapersafari.com/17/87/5uBmop.jpg);
  background-repeat: no-repeat;
  background-repeat: repeat-x;
  color: black;
  text-align: center;
}
body {
  margin: 0;
  padding: 0px;
}
header {
  font-family: fantasy;
  color: black;
  text-shadow: 0 2px white;
  font-weight: bold;
  letter-spacing: 50px;
  width: 100%;
}
hr {
  width: 100%;
}
.lazaro-franco, h1 {
    font-family: 'Assistant', sans-serif;
    font-size: 100px;
    letter-spacing: 50px;
    min-width: 100%;
}
img {
  display: inline;
}
a {}
.nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  background-color: none;
  text-align: center;
  padding: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
}
.nav a {
  text-decoration: none;
  color: black;
  display: block;
  transition: .3s;
}
li {
  margin: 0 1em;
}
.nav a:hover {
  text-decoration: underline;
  text-decoration-style: double;
  background-color: none;
  color: black;
}
a:hover {
  transform: rotate(10deg);
}
.nav .active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
.home {
    font-size: 10px;
    font-family: sans-serif;
    float: left;
    letter-spacing: 0px;
    text-decoration: none;
    padding-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
footer{
    font-size: 15px;
}
.home-p {
  margin-top: 70px;
  font-size: 30px;
}
.navbar {
  font-size: 10px;
  font-family: sans-serif;
  float: left;
  letter-spacing: 0px;
  text-decoration: none;
  padding-top: 20px;
}

.navbar a {
  font-size: 10px;
  font-family: sans-serif;
  letter-spacing: 0px;
  text-decoration: none;
  padding-top: 20px;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: inherit;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: inherit;
    min-width: 16px;
    box-shadow: none;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: inline;
    text-align: left;
}

.dropdown-content a:hover {
  text-decoration: underline;
  text-decoration-style: double;
  background-color: none;
  color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #443dee;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: inherit;
    text-decoration: underline;
    color: black;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
* {
box-sizing: border-box;
}
a {
  text-decoration: none;
  text-decoration-style: none:
}
.cont-p {
  font-size: 20px;
}
h3 {
  font-size: 40px;
}
/* PROJECTS PAGE!!!!!!!!!!!!! */
.projects-list, p {
 font-size: 20px;
}
.project-img {
  height: 75%;
  width: 75%;
  border-style: solid;
  border-width: 5px;
}
.project-a:hover {
 text-decoration: underline;
 background-color: none;
 color: black;
}
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

body { margin: 0; }
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 20s slidy infinite;
}

@media screen and (min-width: 600px) {
.nav li {
  width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;

  }
