.slider-wrapper {
  font-size: 40px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  height: 50px;
  overflow: hidden;
  padding: 0 10px;
}

.slider > div {
  box-sizing: border-box;
  color: black;
  height: 50px;
  margin-bottom: 50px;
  padding: 0 10px;
  text-align: center;
}

.text1 {
  background-color: inherit;
  font-style: italic;
  letter-spacing: 30px;
  color: black;
  animation: slide 5s linear infinite;
}

.text2 {
  background-color: inherit;
  font-style: italic;
  letter-spacing: 30px;
  color: black;
  background-color: inherit;
}

@keyframes slide {
  0% { margin-top: -300px; }
  5% { margin-top: -200px; }
  33% { margin-top: -200px; }
  38% { margin-top: -100px; }
  66% { margin-top: -100px; }
  72% { margin-top: -0; }
  100% { margin-top: 0; }
}

header {
  display: inline;
  font-size: 2em;
  font-family: 'Handlee', cursive;
  color: black;
  text-shadow: 0 2px white;
  font-weight: bold;
  letter-spacing: 1.5em;
  width: 100%;
}

body {
  background-image: url("https://d24h4out7wreu3.cloudfront.net/user_store_banner/3769970.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  text-align: center;
  margin: 0;
  margin-bottom: 50%;
  padding: 0;
  width: 100%;
}

@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);

.hidden {
  opacity:0;
}
.console-container {
  font-family:Ubuntu Mono, monospace;
  font-weight:300;
  font-size:80px;
  text-align:left;
  height:200px;
  width:800px;
  display:block;
  position:absolute;
  color: black;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  padding: 0 30px;
  text-transform: uppercase;
  letter-spacing: -0.5px;
}
h2{
  font-size:60px;
  color: black;
  margin:0;
  letter-spacing: 1px;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}
#text{
  font-size: 80px;
        font-weight: 400;
        color: black;
        background-image: linear-gradient(-90deg, #FF0076, #FF003B);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
.console-underscore{
  color: black;
}

section {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

a {
  text-decoration: none;
  text-decoration-style: none;
}

hr {
  width: 100%;
}

h1 {
  font-family: 'Assistant', sans-serif;
  font-size: 5em;
  letter-spacing: .8em;
}

.webdev {
  font-style: italic;
  letter-spacing: 3em;
}

img {
  margin-top: 2em;
  display: inline;
}

.fa-instagram {
  margin-left: 20px;
  margin-right: 20px;
  display: block;
  background-color: inherit;
  color: purple;
}

.fa-linkedin {
  margin-left: 20px;
  display: block;
  background: inherit;
  color: blue;
}

.fa-snapchat-ghost {
  margin-right: 20px;
  margin-left: 20px;
  display: block;
  background: inherit;
  color: yellow;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-github {
  margin-right: 20px;
  margin-left: 20px;
  display: block;
  background: inherit;
  color: #222;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.navybtn {
  background-color: inherit;
  color: black;
  padding: 5px;
  font-size: 50px;
  border: none;
  cursor: pointer;
}

.navydown {
  position: relative;
  display: inline-block;
}

.navydown-content {
  display: none;
  position: absolute;
  right: 0;
  background: url(https://t3.ftcdn.net/jpg/01/19/54/60/240_F_119546077_ZO9cnFGZSeUDPYmTwAYuqVm6zh99MAPm.jpg);
  min-width: 160px;
  box-shadow: 0 8px 16px 0 inherit;
  z-index: 1;
}

.navydown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.navydown-content a:hover {
  font-size: 30px;
  padding-right: 50%;
  padding-top: 15%;
  padding-bottom: 15%;
  background-color: #f1f1f1;
}

.navydown:hover .navydown-content {
  display: block;
}

.navydown:hover .navybtn {
  background-color: inherit;
}

.nav a {
  text-decoration: none;
  display: block;
  transition: 0.3s;
}

ul {
  display: inline;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  font-size: 20px;
  display: block;
  position: relative;
  float: left;
}

li ul {
  display: none;
}

ul li a {
  display: block;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  white-space: nowrap;
  background-color: inherit;
  color: black;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

li:hover a {
  background: none;
}

ul li a:hover {
  background: none;
}

li:hover ul {
  display: block;
  position: absolute;
}

li:hover li {
  float: none;
}

.nav a:hover {
  text-decoration: underline;
  background-color: none;
  color: black;
  font-size: 40px;
}

li:hover li a:hover {
  text-decoration: underline;
  background: none;
  font-size: 50px;
  color: black;
  background-color: inherit;
  font-weight: bolder;
}

#drop-nav li ul li {
  margin-top: 40px;
  border-top: 0;
}

.nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  background-color: none;
  text-align: center;
  padding: 0;
}

.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.4em;
  line-height: 50px;
  height: 50px;
  margin: 0 1em;
  width: 120px;
  border-bottom: none;
}

.navbar a {
  font-size: 10px;
  font-family: sans-serif;
  letter-spacing: 0;
  text-decoration: none;
  padding-top: 20px;
}

.nav .active {
  cursor: default;
}

.home {
  font-size: 10px;
  font-family: sans-serif;
  float: left;
  letter-spacing: 0;
  text-decoration: none;
  padding-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.home-p {
  margin-top: 70px;
  margin-bottom: 70px;
  margin-left: 200px;
  margin-right: 200px;
  font-size: 30px;
}

.navbar {
  font-size: 10px;
  font-family: sans-serif;
  float: left;
  letter-spacing: 0;
  text-decoration: none;
  padding-top: 20px;
}

.dropbtn {
  background-color: inherit;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  text-align: center;
  display: block;
  margin-bottom: 20px;
}

.skills-p {
  font-size: 3em;
  font-family: 'Bai Jamjuree', sans-serif;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 0;
}

.dropdown-content {
  text-align: center;
  display: none;
  color: white;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0 0 0 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  text-decoration: underline;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background: url(https://t3.ftcdn.net/jpg/01/19/54/60/240_F_119546077_ZO9cnFGZSeUDPYmTwAYuqVm6zh99MAPm.jpg);
  background-size: contain;
  color: white;
  background-position-x: center;
  background-position-y: center;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  text-decoration: underline;
  color: black;
}

.container {
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 5px;
  background-color: inherit;
  padding: 20px;
}

* {
  box-sizing: border-box;
}

.cont-p {
  font-size: 20px;
}

h3 {
  font-size: 40px;
}

/* SKILLS PAGE!!!!!!!!!!!!! */

.skills-list {
  list-style-type: none;
  text-align: center;
}

.skills-list p {
  font-family: 'Mali', cursive;
}

.skills-h3 {
  font-family: 'Montserrat', sans-serif;
}

/* PROJECTS PAGE!!!!!!!!!!!!! */

.projects-h2 {
  display: block;
}

.projects-list p {
  font-size: 20px;
}

.project-img {
  height: 75%;
  width: 75%;
  border-style: solid;
  border-width: 5px;
}

.project-a {
  color: #383838;
  font-family: 'Assistant', sans-serif;
  font-weight: bold;
}

.project-a:hover {
  text-decoration: underline;
  background-color: none;
  color: black;
}

.next-round {
  margin: 1em;
  float: right;
  display: flex;
  justify-content: space-around;
  position: inherit;
  top: 50px;
  font-size: 30px;
  color: black;
}

.next-round:hover {
  float: right;
  text-decoration: underline;
}

.previous-round {
  margin: 1em;
  color: black;
  float: left;
  display: flex;
  justify-content: space-around;
  position: inherit;
  top: 50px;
  font-size: 30px;
}

.previous-round:hover {
  text-decoration: underline;
  float: left;
  right: 0;
  left: 902;
  bottom: 242;
  top: 242;
}

.btn {
  background-color: inherit;
  border: none;
  color: black;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 30px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

/* ABOUT ME PAGE!!!!!!!!!!!!!!!!!! */

.football-picture {
  display: inline;
  width: 300px;
  height: 250px;
}

@keyframes slidy {
  0% {
    left: 0%;
  }

  27% {
    left: 0%;
  }

  33% {
    left: -100%;
  }

  60% {
    left: -100%;
  }

  66% {
    left: -200%;
  }

  90% {
    left: -200%;
  }

  99% {
    left: 0%;
  }
}

table {
  margin: auto;
}

tr, td {
  border-bottom: black;
  border-bottom-width: thin;
  border-bottom-style: inset;
}

footer {
  display: block;
  font-size: 15px;
}

div#slider {
  overflow: hidden;
}

div#slider figure img {
  width: 20%;
  float: left;
}

div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 20s slidy infinite;
}

.me-h1 {
  font-family: 'Gloria Hallelujah', cursive;
  letter-spacing: 5px;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 0;
}

.tag {
  border-radius: 20px;
  border: 8px solid;
  color: -moz-linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(0, 255, 255, 1) 100%);

  /* ff3.6+ */
  color: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(0, 255, 255, 1)));

  /* safari4+,chrome */
  color: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(0, 255, 255, 1) 100%);

  /* safari5.1+,chrome10+ */
  color: -o-linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(0, 255, 255, 1) 100%);

  /* opera 11.10+ */
  color: -ms-linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(0, 255, 255, 1) 100%);

  /* ie10+ */
  color: linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(0, 255, 255, 1) 100%);

  /* ie6-9 */
  text-align: center;
  margin-left: 10%;
  width: 80%;
  height: 200%;
}

.hello {
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 60px;
  color: black;
}

.mynameis {
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
}

.dottedline {
  border-top: 3px dotted black;
  margin-top: 5px;
}

.me-p {
  font: 20px'AmericanTypewriter', Cambria, Georgia, sans-serif;
  color: #282625;
  margin: 0 auto;
}

/* small screen styles here */

@media only screen and (max-width: 700px) {
  section {
    display: inline;
    font-size: 10px;
    font-family: fantasy;
    color: black;
    text-shadow: 0 2px white;
    font-weight: bold;
    letter-spacing: 10px;
    width: 100%;
  }

  html {
    height: 200%;
    width: 700px;
  }

  body {
    height: 100vh;
    min-height: 100%;
    width: 700px;
    padding-bottom: 20px;
  }

  h1 {
    font-size: 100px;
    letter-spacing: 20px;
    margin-top: 2em;
  }

  .nav {
    margin-bottom: 3em;
  }

  .nav li {
    margin: 0;
  }

  .dropdown .dropdown-content {
    display: block;
    background: none;
  }

  h3 {
    font-size: 30px;
  }

  .contact-h1 {
    letter-spacing: 15px;
    font-size: 75px;
  }

  /* SKILLS PAGE!!!!!!!!!!!!! */

  /* PROJECTS PAGE!!!!!!!!!!!!! */
  .next-round {
    top: 20px;
    margin: 1em;
  }

  .previous-round {
    top: 20px;
    margin: 1em;
  }

  /* ABOUT ME PAGE!!!!!!!!!!!!!!!!!! */
  .football-picture {
    width: 100px;
    height: 100px;
  }

  .tag {
    border: 4px solid black;
    width: 100%;
    height: 250%;
    border-bottom: 100%;
    margin: 0;
  }

  .hello {
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    color: white;
  }

  .mynameis {
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
  }

  .dottedline {
    border-top: 3px dotted black;
    margin-top: 20px;
  }

  .me-p {
    margin-right: 0;
    margin-left: 10px;
  }

  * {
    margin: 0;
    padding: 0;
  }
}
